header, .nn{
	background-color: #BD3A31;
	margin-bottom: 15px;
}

header .header-logo{
	max-width: 150px;
	min-width: 100px;
}

header .header-logo img{
	width: 100%;
}

.separator{
	flex: 1 1 auto;
	min-height: 10px;
}