header, .nn{
	background-color: #BD3A31;
	margin-bottom: 15px;
}

header .header-logo{
	max-width: 150px;
	min-width: 100px;
}

header .header-logo img{
	width: 100%;
}



.separator{
	flex: 1 1 auto;
	min-height: 10px;
}

.graph-match-rect{
	fill: gray;
}

.graph-match:hover .graph-match-rect{
	fill: darkgray;
	cursor: pointer;
}

.graph-competitor-rect{
	fill: var(--dark);
}

.grap-match-header-rect{
	fill: var(--dark);
}

.graph-competitor-text{
	fill: white;
}

.grap-match-header-text{
	fill: white;
}

.graph-competitor-text:hover{
	cursor: pointer;
}

.graph-competitor-rect:hover{
	cursor: pointer;
}

.graph-competitor:hover .graph-competitor-rect{
	opacity: 0.8;
}




